{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CultureEvents - Контакты{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% include 'includes/header.html' %}

{% block content %}
<section class="contacts-section">
    <div class="container">
        <h2 class="section-title">Контакты</h2>
        <p>+7 (495) 123-45-67</p>
        <p>info@cultureevents.ru</p>
        <p>Казань, ул. Карла Маркса, 72</p>
    </div>
</section>

{% include 'includes/footer.html' %}
{% include 'includes/modals.html' %}

<script src="{% static 'js/auth.js' %}"></script>

{% endblock %}